.grid-container {
  display: grid;
  gap: 1px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 40px;
  height: 40px;
  background-color: #e0f7fa;
  border: 1px solid #ccc;
  position: relative;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-cell--active {
  background-color: #00c853;
}

.grid-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.grid-cell:hover {
  background-color: #009688;
  cursor: pointer;
}

.grid-cell--button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.grid-cell--button:hover {
  background-color: darken(#009688, 10%);
}

.grid-cell--input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .grid-cell {
    width: 30px;
    height: 30px;
  }

  .grid-cell--button,
  .grid-cell--input {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .info-container,
  .controllers {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    gap: 0.5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .grid-cell {
    width: 30px;
    height: 30px;
  }

  .grid-cell--button,
  .grid-cell--input {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .main-container {
    flex-direction: row;
    gap: 2rem;
  }

  .info-container,
  .controllers {
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-container {
    gap: 1px;
  }
}

@media only screen and (min-width: 901px) {
  .grid-cell {
    width: 40px;
    height: 40px;
  }

  .grid-cell--button,
  .grid-cell--input {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .main-container {
    flex-direction: row;
    gap: 3rem;
  }

  .info-container,
  .controllers {
    flex-direction: row;
    justify-content: space-around;
  }

  .grid-container {
    gap: 1px;
  }
}
